body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

textarea{
  display: block;
  resize: none;
  min-width: 350px;
  min-height: 200px;
  margin-bottom: 20px;
  padding: 15px;
}

tr{
  cursor: pointer;
  user-select: none;
}

button, input{
  box-shadow: none !important;
}
